<ul>
    <li>
        <a href="/admin/create/article">article</a>
    </li>
    <li>
        <a href="/admin/create/book">book</a>
    </li>
    <li>
        <a href="/admin/create/course">course</a>
    </li>
    <li>
        <a href="/admin/create/exercise">exercise</a>
    </li>
    <li>
        <a href="/admin/create/idea">idea</a>
    </li>
    <li>
        <a href="/admin/create/inphogra">inphogra</a>
    </li>
    <li>
        <a href="/admin/create/movie">movie</a>
    </li>
    <li>
        <a href="/admin/create/quote">quote</a>
    </li>
    <li>
        <a href="/admin/create/story">story</a>
    </li>
    <li>
        <a href="/admin/create/video">video</a>
    </li>
</ul>