<!doctype html>
<html lang="en">
{{> head}}
<body>
{{> header}}
<h1>{{title}}</h1>
<form action="">
    <h2>Book</h2>
    <div>
        <input type="text">
    </div>
</form>
{{> footer}}
</body>
</html>